<%= nested_form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-xs-6 col-sm-4">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <%= f.label :todo_list_name %>
  <div class="row">
   <div class="form-group col-sm-4 todos">
    <%= f.fields_for :todo_lists do |todo| %>
      <%= todo.text_field :name, class: 'form-control' %>
      <%= todo.link_to_remove "Remove this todo" %>
    <% end %>
    </div>
  </div>

  <div class="form-group">
    <button type="button" id="add">Add another todo list</button>
    <%= f.submit %>
  </div>
<% end %>

<%= javascript_include_tag "projects" %>
